[submodule "ap_modules"]
	path = ap_modules
	url = git@github.com:viernes/ap_modules.git
[submodule "lazze"]
	path = lazze
	url = git@github.com:William954/lazze.git

[submodule "cuponesPOS"]
	path = cuponesPOS
	url = git@github.com:omojika/cuponesPOS.git
	branch = master
